.Header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .Header__content{
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
i{
&:hover{
    color: brown;
}}
    }
}