.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 40px;
    .navbar__context{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        .navbar__right{
            display:flex ;
            flex-direction: row-reverse;
            align-items: center;
            gap: 5px;
        }
    }
}